@import "tailwindcss";

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
  background: #632b7e73;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #632b7e73 transparent;
}
